body {
    overflow-y: scroll;
}

/* BACK TO TOP */

#backToTop {
    position: fixed;
    background-color: #358;
    bottom: 0;
    right: 0;
}
#backToTop img {
    width: 50px;
}

/* ASIDE */

aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    left: -220px;
    top: 0;
    background-color: #236;
    width: 250px;
    height: 100vh;
}

.artist {
    /*position: sticky;*/
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    /*background-color: #236;*/
    width: 250px;
    height: 64px;
    transition: background-color 300ms ease;
}

.artist:hover {
    background-color: #358;
    box-shadow: 0 0 4px #222;
    z-index: 2;
}

.artist>span {
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
}

.artist img {
    margin: 5px 20px 5px 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.exemployee {
    background-color: #234 !important;
}
.exemployee:hover {
    background-color: #830 !important;
}
/* MAIN */

.artIntro {
    background-color: #444;
    box-shadow: 0 0 8px #111;
    width: 100%;
    height: 260px;
    padding: 30px 60px 0;
}

.artIntro img {
    float: left;
    margin: 0 30px;
    width: 200px;
}

.artGallery {
    width: 100%;
    overflow-y: scroll !important;
}

.entry {
    width: 100%;
    background-color: #222;
    padding: 0 40px;
    margin: 10px 0;
}

.artGallery h3, h2 {
    padding: 10px 50px 0;
    margin: 0;
}

.media {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.mainMedia {
    background-color: #333;
    margin: 20px;
}

.first {
    width: 500px;
    margin: 5px;
}

.extraMedia {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    background-color: #333;
    height: fit-content;
    
}

.extraMedia img {
    width: 300px;
    margin: 5px;
    object-fit: scale-down;
    /*transition: scale 300ms ease;*/
}/*
.extraMedia img:hover {
    scale: 1.5;
    z-index: 2;
}*/