/* MAIN */

main {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainText {
    margin: 50px auto 30px;
    width: 55vw;
}

.mainArticle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 25vh 0; */
}

.mainSection {
    display: flex;
    position: absolute;
    justify-content: center;
    background-color: #252525;
    box-shadow: 0 0 8px #000;
    height: 50vh;
    width: 80vw;
    padding: 10px;
    margin: 0;
}

.left,
.right {
    transition: translate 500ms ease;
}

.left {
    left: -62vw;
    /*translate: -1100px 0;*/
}

.left:hover {
    translate: 60vw 0;
    /* 60vw or 76.5%~ */
}

.right {
    right: -62vw;
}

.right:hover {
    translate: -60vw 0;
}

.mainSection div {
    display: flex;
    margin: auto;
    padding: 0 20px;
    flex-wrap: nowrap;
    flex-flow: column;
    height: 100%;
    justify-content: center;
}

.mainSection img {
    max-width: 18vw;
    object-fit: scale-down;
}

.mainSectionText {
    overflow-y: scroll;
}