/* MAIN */

.mainText {
    margin: 50px 0 30px;
    padding: 10px 10px;
}

.mainArticle {
    display: flex;
    justify-content: space-around;
}

.mainSection {
    display: flex;
    position: absolute;
    justify-content: center;
    background-color: #252525;
    box-shadow: 0 0 8px #000;
    height: 50vh;
    width: 80vw;
    padding: 10px;
    margin: 0 50px;
}

.left,
.right {
    transition: translate 500ms ease;
}

.left {
    left: -65vw;
    /*translate: -1100px 0;*/
}

.left:hover {
    translate: 76% 0; /*60vw*/
}

.right {
    right: -65vw;
}

.right:hover {
    translate: -76% 0;
}

.mainSection div {
    display: flex;
    margin: auto;
    padding: 0 20px;
    flex-wrap: nowrap;
    flex-flow: column;
    height: 100%;
}

.mainSection img {
    max-width: 18vw;
    object-fit: scale-down;
}

.mainSectionText {
    overflow-y: scroll;
    height: 85%;
}